body {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 150px;
}

h1 {
  font-style: italic;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.inputfield {
  width: 300px;
  margin: 70px 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: inherit;
  margin top: 10px;
}

input{
  margin-top: 10px;
}

.addanswer {
  margin-top: 10px;
}

.resultsfield {
  height: 40px;
  display: flex;
  justify-content: center;
  font-size: 15px;
  align-items: center;

}
